<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
</head>

<body>
    <div id="root" class="container-fluid"></div>
    {# <link rel="stylesheet" href="{{ url_for('static', filename='todo_app/node_modules/bootstrap/dist/css/bootstrap.min.css') }}"/> #}
    {# <script type="application/javascript" src="{{ url_for('static', filename='todo_app/node_modules/toastr/build/toastr.min.js') }}"></script> #}
    <script type="application/javascript" src="{{ url_for('static', filename='todo_app/node_modules/react/umd/react.production.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='todo_app/node_modules/react-dom/umd/react-dom.production.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='todo_app/dist/bundle.todo_app.js') }}"></script>
    
    <style>
        @media print
        {    
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
    </style>
</body>

</html>